
{% extends "base.html.twig" %}
{% block title 'Documentation' %}
{% block body %}


<div class="jumbotron text-center">
    <h1 class="display-4">PPE Client Léger, BTS SIO SLAM.</h1>
    <br/>
    <p class="lead">Le site de l'agence permet (une fois connecté) la création de biens, leur modifications et suppressions.</p>
   
    <p>Les visiteurs peuvent ensuite contacter l'agence, qui recevra par mail les demandes de contact concernant les biens en question.</p>
    <hr class="my-4">
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
          <h1 class="display-4">PPE Client lourd.</h1>
          <p class="lead">Voici le logiciel que nous avons concu durant notre formation.</p>
          <a class="btn btn-primary btn-lg" href="{{path('download_file')}}" role="button">EasyStock</a>
          <p class="lead">Il a été developpé en C#, et SQL Server.</p>
        </div>
      </div>
  </div>


{% endblock %}

